*{
  padding: 0;
  margin: 0;
}
button, a {
  cursor: pointer;
}
.wrapper {
  margin-top: 250px;
}
.registration, .authorization {
  margin: 0 auto;
  width: 200px;
  text-align: center;
}
.registration p, .authorization p {
  color: red;
  font-size: 10px;
}
form input {
  margin: 5px 0;
  padding: 5px;
}
.reg_btn {
  cursor: pointer;
}
.log_btn {
  cursor: pointer;
}
a{
  font-size: 10px;
}
.typehard {
  text-align: center;
}
.typehard select {
  width: 120px;
  height: 40px;
  padding: 10px;
  border: 1px solid red;
  border-radius: 5px;
  cursor: pointer;
}
.typehard input {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: red;
  border: none;
  color: white;
  cursor: pointer;
}
.game {
  text-align: center;
}
.game div {
  margin-top: 15px;
}
.game .options input {
  height: 40px;
  width: 40px;
  margin: 0 5px;
  cursor: pointer;
}
.backBtn {
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
}
.hardoption {
  display: none;
}
.hardoption input{
  padding: 10px;
  margin: 0 10px;
}